*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* #411e5a
#f0462d */

.cabecalho, .texto, .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 80px 0;
    /* border: 1px solid red; */
    /* background:  linear-gradient( -0.2turn,  #55715B, black); */
}
.texto{
    flex-direction: column;
}
.navbar ul li{
    /* border: 1px solid blue; */
    padding: 0 20px;
}


